*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding-left: 0;

}

h2 {
  text-transform: capitalize;
}

.Header {
  border-color: red;
  border-width: 5px;
  border-style: solid;
}

.Articles_container {  
  display: flex;
  flex-direction: column;
  align-content: stretch;
  list-style: none;
  padding-left: 0;
  border-color: goldenrod;
  border-width: 5px;
  border-style: solid;
  min-height: 100vh;
}

.Articles_article {
  border-color: green;
  border-width: 5px;
  border-style: solid;
}

.SingleArticle {
  border-color: purple;
  border-width: 5px;
  border-style: solid;
  min-height: 100vh;
}

.Nav {
  border-color: blue;
  border-width: 5px;
  border-style: solid;
}

.Nav_list {
  display: flex;
  flex-direction: row;
  border-color: blue;
  border-width: 5px;
  border-style: solid;
  align-items: center;
}

.Nav_list ul {
  align-content: center;
}

.Nav_list li {
  padding: 0.5em;
  margin: 0.5em;
  text-transform: capitalize;
}

.Comments {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
}

.Comments_comment {
  border-color: pink;
  border-width: 5px;
  border-style: solid;
}

.Users_user_avatar {
  width: 60px;
  align-items: center;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
}

.Users {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
}

.Users_Card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
}

.Header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  align-items: flex-end;
}

.UserIcon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.UserIcon_login {
 
}

.UserIcon_img {
  width: 40px;
  padding-left: 4.5rem
}

.CommentAdder {
display: flex;
flex-direction: column;
align-items: center;
height: 100%;
width: 100%;
}

.CommentAdder_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
  }

.CommentAdder_form textarea {
  border-color: pink;
  border-width: 5px;
  border-style: solid;
}

.SortByQuery_queries {
  font-size: 1em;
}

#CommentAdder_newComment {
  height: 100%;
  width: 100%;
}

