* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: "#263743";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  /* color: #263743; */
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2, h3, h4 {
  text-transform: capitalize;
}

.App_theme-login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}


.Articles_container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  list-style: none;
  padding-left: 0;
  min-height: 100vh;
}

.Articles_header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}


.Articles_article {
  padding: 1em;
}

.SingleArticle {
  min-height: 100vh;
  padding: 1em;
}

.SingleArticle_header {
  padding: 0.5em;
}

.SingleArticle_author {
  padding: 0.6em;
}

.SingleArticle_body {
  padding: 0.5em;
}

.SingleArticle_details_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  padding: 0.5em;
}

.SingleArticle_details_container p {
  padding: 0.2em;
}


.Nav_list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  text-transform: capitalize;
}


.Comments {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.Comments_header {
  margin: 0.5em;
}

.Comments_comment {
  padding: 1em;
}

.Comments_comment_button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Users_user_avatar {
  width: 60px;
}

.Users {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.Users_Card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.Users_list_card {
  padding: 0.5em;
}


.Header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  align-items: flex-end;
}

.Users h1 {
  padding: 0.5rem;
}

.Users_list_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.Users_Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.Users_list_container img {
  padding: 0.5rem;
}

.UserIcon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.UserIcon_img {
  width: 40px;
  padding: 0.2em;
}

.CommentAdder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.CommentAdder_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 30vh;
  padding: 1em;
}

.CommentAdder_form textarea {
  border-color: #b57376;
  border-width: 1px;
  border-style: solid;
  margin: 1em;
  font-size: 18px;
}


.SortByQuery_queries {
  font-size: 1em;
}

#CommentAdder_newComment {
  height: 100%;
  width: 100%;
}
